@model IMPrintPro.Models.login
@{
    ViewData["Title"] = "ImprintLogin";
}
<body style="background: linear-gradient(to right, rgba(66,172,201,1) 0%, rgba(79,72,202,1) 100%)" >
        <form class="vendor-form" method="post" asp-action="ImprintLogin" style="padding:46px;">
            <div class="container" id="pagedesign" style="padding:20px;">
                <div class="form-group mx-2">
                    <div class="alert text-danger m-1" style="text-align:center;">
                        @TempData["errorMessage"]
                    </div>
                    <label for="Email ID" style="padding-top:15px;color:white">Email ID</label>

                    <input asp-for="UserId" type="text" class="form-control" placeholder="Email ID" maxlength="50">
                </div>
                <div class="form-group mx-2">
                    
                    <label for="password" style="color:white">Password</label>
                    <input asp-for="UserPassword" type="password" class="form-control" placeholder="Password" maxlength="20">
                </div>
                <div class="d-grid gap-2 mx-2"  style="text-align:center;">
                    <button type="submit" value="ImprintLogin" class="btn btn-primary" class="btnsize" style="background: #ffc000" >Submit</button>
                </div>
            </div>
        </form>
 </body>






