
@{
    ViewData["Title"] = "ImportExcel";
}


<div class="container" id="filedesign">
    <p>Staff</p>
    <form method="post" class="vendor-form" asp-controller="Staff" asp-action="ImportExcel" enctype="multipart/form-data">
        <input type="file" name="file" class="fileId" />

        <button type="submit" class="btn btn-sm btn-primary">Import File</button>
        <a href="#">Download Sample</a>
    </form>
</div>

